@import './animations.scss';

.group-form_connexion{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.group-form_avis{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .avisForm{
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 800px;
        align-items: center;
        justify-content: space-between;
        border-radius: 1.2em;
        margin: 10px 0;
        min-height: 75px;
        border: 1px solid #BC8212;
        box-shadow: 0 0 15px grey;
    }
}
.avis-commentForm{
    display: flex;
    width: 99%;
    font-size: 16px;
    color: black;
    min-width: 280px;
    max-width: 720px;
    min-height: 200px;
    resize: none;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-left: none;
    border-right: none;
}
.contentForm, .connexionForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    align-items: center;
    .form {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        min-height: 300px;
        justify-content: space-around;
        .nameForm{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        .inputForm{
            display: flex;
            width: 100%;
            border: none;
            border-bottom: 1px solid #BC8212;
            margin: 8px 0;
            color: lightgray;
            height: 30px;
            font-size: 24px;
            background: transparent;
        }
        .pForm{
            font-size: 16px;
            margin: 5px 0;
            color: lightgray;
        }
        .nbrForm{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .rangeError{
            color: rgb(145, 32, 32);
            font-size: 20px;
            background: rgba(255, 255, 255, 0.49);
            padding: 5px;
            border-radius: 11px;
        }
        .valid{
            color: green;
            font-size: 20px;
        }
        .rangeGroup{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0;
        }
        .rangeFormValid{
            -webkit-appearance: none;
            height: 30px;
            width: 80%;
            background: grey;
            outline: none;
            border-radius: 1.5em;
            overflow: hidden;
            box-shadow: inset 0 0 5px black;
            max-width: 800px;
        }
        .rangeFormValid::-webkit-slider-thumb{
            -webkit-appearance: none;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
            box-shadow: -415px 0 0 400px #678f35;
        }
        .rangeFormNotValid{
            -webkit-appearance: none;
            height: 30px;
            width: 80%;
            background: grey;
            outline: none;
            border-radius: 1.5em;
            overflow: hidden;
            box-shadow: inset 0 0 5px black;
        }
        .rangeFormNotValid::-webkit-slider-thumb{
            -webkit-appearance: none;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
            box-shadow: -415px 0 0 400px rgb(137, 0, 0);
        }
        .react-calendar{
            border: 1px solid #BC8212;
            width: 100%;
        }
        .react-calendar__tile--active {
            background: transparent;
            color: black;
            box-shadow: inset 0 0 5px #BC8212;
            border-radius: 50%;
        }
        .rplDate{
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: white;
        }
        .messageForm{
            display: flex;
            flex-direction: column;
            width: 100%;
            .messageFormIn{
                resize: none;
                font-size: 20px;
                border: 1px solid #BC8212;
                height: auto;
                min-height: 100px;
            }
        }
    }
}

.send-true, .send-false{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 34px;
    color: black;
    border-radius: 2em;
    font-size: 14px;
    margin: 0 0 20px 0;
}
.send-false{
    border: none;
    background-color: lightgray;
}
.send-true{
    @include btn;
}
.connexionForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 800px;
    height: auto;
    min-height: 350px;
    animation: avi .5s linear forwards;
    border: 1px solid #bc8212;
    border-radius: 1.2em;
    box-shadow: 0 0 15px grey;
    margin: 10px 0;
}
.Ball, .Ball-er{
    animation: turn linear 1.5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 3px solid darkgrey;
    border-radius: 50%;
    .ico-ball, .ico-ball-er{
        display: flex;
        height: 80%;
    }
}
.Ball{
    border-bottom: 1px solid #678f35;
    box-shadow: 0px 6px 12px darkolivegreen;
}
.Ball-er{
    border-bottom: 1px solid rgb(137, 0, 0);
    box-shadow: 0px 6px 12px rgb(137, 0, 0);
}
.ico-ball{
    color: #678f35;
}
.ico-ball-er{
    color: rgb(137, 0, 0);
}
.p-ball, .p-ball-er{
    color: darkgray;
}
.num{
    color: #BC8212;
    font-weight: 600;
}
.nos-valeur{
    @include card;
}