@import './animations.scss';
.subtitle{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 1.6em;
}
@media (min-width: 600px) {
    .subtitle{
        font-size: 1.9em;
    }
}
.textSubtitle {
    color: black;
    text-align: center;
    margin-top: 0;
    font-size: 1.03em;
    max-width: 1024px;
}
@media (min-width: 600px) {
    .textSubtitle{
        font-size: 1.3em;
    }
}
.img-gite {
    display: flex;
    width: 100vw;
    height: auto;
    max-width: 1024px;
}
.picGite {
    animation: fadein 1s linear forwards;
    display: flex;
    width: 100vw;
    height: auto;
    object-fit: contain;
}
.btnBar{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 6px;
    background-color: transparent;
    .groupBall {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ball {
            height: 10px;
            width: 10px;
            margin: 0 6px;
            border-radius: 50%;
            background: white;
        }
    } 
}
.btn_left, .btn_right {
    border-radius: 50%;
    opacity: 0.8;
    height: 30px;
    width: 30px;
    border: none;
    background-color: lightgrey;
    color: black;
    font-size: large;
}
.btnInfo{
    font-size: 1.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
    color: black;
    border: none;
    padding: 10px 0;
    background-color: transparent;
    cursor: pointer;
}
@media (min-width: 600px) {
    .btnInfo{
        font-size: 22px;
    }
}
.displayInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    animation: info 0.5s linear forwards;
}
.tarif-gite {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tableTarif {
        text-align: center;
        background: darkgoldenrod;
        min-height: 170px;
        width: 100%;
        max-width: 1024px;
        display: flex;
        box-shadow: inset 0 0 5px white;
        .table-one {
            background: rgba(255, 255, 255, 0.57);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        }
        .table-price {
        background: rgba(255, 255, 255, 0.57);
        box-shadow: 0 4px 30px rgba(136, 135, 135, 0.5);
        }
    }
}
.pHeure {
    color: black;
    font-size: 20px;
}
@media (min-width: 600px) {
    .tarif-gite{
        font-size: 18px;
    }
    .pHeure {
        font-size: 28px;
    }
}
.igcontent, .informationGite{
    overflow: hidden;
    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-direction: column;
    align-items: center;
}
.chambre {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icoArrowU, .icoArrowD{
    display: flex;
    height: 30px;
    width: 30px;
    color: aliceblue;
    border: 1px solid;
    border-radius: 50%;
    background-color: #BC8212;
    box-shadow: 0px 0px 7px black;
    margin: 0 15px;
}
.icoArrowD{
    animation: turnIcoD linear 0.5s forwards;
}
.icoArrowU{
    animation: turnIcoU linear 0.5s forwards;
}