@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&family=Open+Sans:ital@1&family=Rubik:wght@300;400&display=swap');
@import "~video-react/styles/scss/video-react";

.titleGroupe{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    .icoStars{
        color: #BC8212;
        margin-bottom: 40px;
        padding: 2px;
        height: calc(1vw + 8px);
    }
    .titleName{
        color: #678f35;
        font-family: 'Martel', 'Rubik', serif;
    }
}
.textPresentation {
    text-align: center;
    font-size: calc(1vw + 9px);
    .tp {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
}
.moviePresentation{
    display: flex;
    margin-top: 10px;
    .video-react {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}