@media (min-width: 1250px){
    .header-vids, .chambre{
        width: 45%;
    }
    .responsive-tarif-avis{
        position: absolute;
        left: 2%;
        top: 102px;
        width: 24%;
    }
    .group-form_contact{
        position: absolute;
        right: 2%;
        top: 102px;
        width: 24%;
    }
}
