@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.displayNone {
    display: none;
}

body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
h1 {
    font-size: calc(8vw + 5px);
    margin-bottom: 0px;
}
h2 {
    font-size: calc(8vw + 5px);
    font-family: 'Tangerine', cursive;
    color: #BC8212;
}
h3 {
    color: #BC8212;
    font-family: 'Tangerine', cursive;
    font-size: 1.8em;
    padding-left: 6px;
}
ul{
    margin: 0;
    padding: 0 6px;
}
.liGite {
    color: black;
    list-style-type: none;
    padding-bottom: 10px;
}
.liGite::before { content: "* "; color: #BC8212}
table {
    width: 100%;
}