<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 { 
            font-size: medium;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        h2 {
            font-size: medium;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://static.wixstatic.com/media/8b659e_170d39bc4a8f417680cdfe6f650adb11~mv2.png/v1/fill/w_326,h_127,al_c,usm_0.66_1.00_0.01,enc_auto/LogoSite-removebg-preview.png" alt="logo" height="100" width="auto">
    <h1>Au Gite du bois vous remercie pour votre visite !</h1>
    <h2>Nous comptons sur le retour de votre avis</h2>
    <p>Pour laissez votre avis sur notre site, veuillez entrer ces idantifiants dans notre espace client en suivant ce liens: https....</p>
    <p>ID: <span>{{email}}</span></p>
    <p>MDP: <span>{{pass}}</span></p>
    <p>cette connexion a une durée de <span>15 jours</span> à compter du jour de la réception de cet email.</p>
</body>
</html>